/* ===== Estado de Content ===== */
.preset-content {
    display: none;
}

.content-state>.preset-content {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

/* ===== Estado de Loading ===== */
.preset-loading {
    display: none;
}

.loading-state>.preset-loading {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

/* ===== Estado de Empty ===== */
.preset-empty {
    display: none;
}

.empty-state>.preset-empty {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

/* ===== Outros Estados ===== */
.preset-collection {
    display: none;
}

.collection-state>.preset-collection {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

.preset-access {
    display: none;
}

.access-state>.preset-access {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

.preset-empty-collection {
    display: none;
}

.empty-collection-state>.preset-empty-collection {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

.preset-empty-access {
    display: none;
}

.empty-access-state>.preset-empty-access {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;
}

.preset-user-overview {
    display: none;
}

.user-overview-state>.preset-user-overview {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;    
}

.preset-session-overview {
    display: none;
}

.session-overview-state>.preset-session-overview {
    display: block;
    animation: fadeIn 0.3s ease-in forwards;    
}

/* ===== Skeletons ====== */

.skeleton {
    background-image: linear-gradient(90deg,
            rgba(32, 35, 37, 0.6) 25%,
            rgba(27, 29, 30, 0.9) 50%,
            rgba(32, 35, 37, 0.6) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

.dark-skeleton {
    background-image: linear-gradient(90deg, rgba(44, 47, 49, 0.6) 25%, rgba(32, 35, 37, 0.9) 50%, rgba(44, 47, 49, 0.6) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

.access-item-skeleton {
    width: 160px;
    height: 100px;
}

.list-item-skeleton {
    width: 100%;
    height: 60px;
}
